.list-group{
    margin-left:20px;
}
.card{
    width:220px;
    height:250px;
    border-radius:7px;
    background-color:#dfeaf5;
    margin-top:10px;
    margin-left:20px;
    border:none;
    float: left;
    text-align: center;
}
.img{
    width:inherit;
    height:45%;
}
.text{
    font-size:18px;
}
.padding{
    padding-top:12px;
}